DB_HOST=./gogin.db
PORT=3000
HOST=localhost
TRUSTED_PROXIES=127.0.0.1 # Comma separated list of trusted proxies, e.g. 127.0.0.1,10.0.0.0/8
ALLOWED_ORIGINS=* # Comma separated list of allowed origins for CORS, e.g. http://localhost:3000,https://example.com